@tailwind base;
@tailwind components;
@tailwind utilities;

.loginbg {
  background-image: url("./assets/others/authentication.png");
}

.btnBg {
  background: linear-gradient(75deg, #835d23, #b58130);
  color: white;
}
